# Manipulating Variables and Constants

- Variables are used to store data.

- Any data that can be changed over time is a variable.

- If the data cannot change over time, it is a constant.

Example: Calculate the area of a triangle. The formula is Base * Height / 2. Base and Height are the data that will vary during the runtime, whereas the number 2 in the formula is a constant because it will always have the same value

Variable types
- Integer: Positive or negative values without a fractional part.

- Float (Real): Positive or negative values that can have a fractional part (they can also be integers).

- Character (Char) or String: Any element present on the keyboard.

- Boolean (Boolean): True (1) or false (0).

## Variable Integer

In [ ]:
number = -9
number2 = 18
number3 = 36

## Variable Float

In [ ]:
pi = 3.14
number_euler = 2.71
number - 4.35

## String e Chars

In [ ]:
letter = 'l'
word = 'language programming'
word2 = 'Python'

## Input

In [ ]:
age = int(input('Enter with your age: '))
print(f'Your age is... {age}')

In [ ]:
ph = float(input('What was the soil PH during the last measurement?'))
print('The measured PH was:',ph)

In [ ]:
name = str(input('What is your name?'))
print('Your name is', name)

# String Manipulate

In [ ]:
str1 = 'whatever'
str1

In [ ]:
upper_str = str1.upper()
print(upper_str)

In [ ]:
lower_str = upper_str.lower()
lower_str

In [ ]:
capitalize_str = str1.capitalize()
print(capitalize_str)

In [ ]:
mean_word = str1[0:3]
print(mean_word)

In [ ]:
last_letter = str1[3:]
last_letter

In [ ]:
str2 = str1.replace('wha', 'AAAAAAA')
str2

In [ ]:
str3 = str1.replace('r', 'O')
str3

In [ ]:
str3.find('o')

In [ ]:
str3.find('O')

In [ ]:
str3.find('e')

In [ ]:
str4 = 'Hellooooooo'
len_str = len(str4)
len_str

In [ ]:
number1 = 9
number2 = 10
print(f'{number1} / {number2} = {number1 / number2}')

# Math Operations

In [ ]:
value = 5
value2 = 3
print(value, value2)

In [ ]:
addition = value + value2
addition

In [ ]:
subtraction = value - value2 
subtraction

In [ ]:
multiplication = value * value2
multiplication

In [ ]:
divison = value / value2
divison

In [ ]:
remainder_division = value % value2
remainder_division

In [ ]:
exponentiation = value**3
exponentiation

In [ ]:
from math import sqrt

sqrt(81)

## Rounding

In [ ]:
case_disease = 134
numbers_inhabitants = 34432

cases_per_inhabitant = case_disease / numbers_inhabitants
cases_per_inhabitant

In [ ]:
round(cases_per_inhabitant, 6)

In [ ]:
round(cases_per_inhabitant, 3)

# Logical and Relational Operators

## Logical Operators

In [ ]:
x = True
y = False

In [ ]:
x and y
x & y

In [ ]:
print(f"'X' and 'Y' is equals: {x and y}")

In [ ]:
x or y
x | y

In [ ]:
print(f"'X' or 'Y' is equals: {x or y}")

In [ ]:
not x

In [ ]:
not y

## Relational Operators

In [ ]:
10 > 5

In [ ]:
9 < 10

In [ ]:
9 >= 10

In [ ]:
9 <= 10

In [ ]:
9 == 10

In [ ]:
9 != 10

# Conditional Operator

In [ ]:
9 < 10

In [ ]:
if 9 > 6:
    print('9 is greater than 6')
# print('hiiii')

In [ ]:
if 5 > 6:
    print(' 5 is greater')
else:
    print('isnt greater')

In [ ]:
n = 9
if n == 4:
    print('n isnt equal 4') 
else:
    if n == 9:
        print('n is equal 9')
    else: 
        print('n isnt equal to 4 and 9')

In [ ]:
x = 2 
y = 4

if (x > 1) and (y % 2  == 0):
    print('X greater than 1 and y is even')
else:
    print('something is wrong ')

In [ ]:
x = 1 
y = 3

if (x > 1) or (y % 2  == 0):
    print('X greater than 1 and y is even')
else:
    print('something is wrong ')

# Loop For

In [ ]:
for i in range(1,6):
    print(i)

In [ ]:
for  i in range(5, 0 , -1):
    print(i)

In [ ]:
sum = 0
for i in range(1,6):
    sum += i
    print(sum)
print(sum)

In [ ]:
word = 'ice cream'
for i in word:
    print(i)
    if i == 'r':
        print('Found the word r ')

In [ ]:
for i in range(5):
    print(i)
    print('-')
    for ii in range(3):
        print(ii)
    print()

# Loop While

In [ ]:
number = 1
while number < 6:
    print(number)
    number += 1

In [ ]:
number = 5 
while number > 0:
    print(number)
    number -= 1

In [ ]:
sum = 0
number = 1
 
while number < 5:
    sum += number
    number +=1
print(sum)

In [ ]:
number = -1
while number < 1 or number > 10:
    number = int(input('Enter a number from 1 to 10'))

# Collections

## Tuple

In [ ]:
tuple = ('Homo Sapiens', 'Canis Familiaris', 'Felis Catus')
tuple[-1]

In [ ]:
tuple.index('Felis Catus')

In [ ]:
for i in tuple:
    print(i)

## List

In [ ]:
list1 = ['Homo Sapiens', 'Canis Familiaris', 'Felis Catus']
list2 = ['Xenopus Leavis' , 'Ailuropoda Melanoleuca']

In [ ]:
list3 = list1 + list2

In [ ]:
result = " ".join(list1 + list2)
result

In [ ]:
list2_2 = list2 * 2
list2_2

In [ ]:
list1[0]

In [ ]:
list1[0:2]

In [ ]:
list1.append('Monkey')
list1

In [ ]:
list1.remove('Canis Familiaris')
list1

In [ ]:
del(list1)
list1

In [ ]:
for i in list2_2:
    print(i)

## Dictionary

In [ ]:
collect = {'Aedes aegypt': 32, 'Aedes albopictus': 22, 'Anpheles darlingi': 14}

In [ ]:
collect['Aedes aegypt']

In [ ]:
collect['Rhodnius montenegrensis'] = 11

In [ ]:
collect

In [ ]:
del(collect)['Aedes albopictus']

In [ ]:
collect.items()

In [ ]:
collect.keys()

In [ ]:
collect.values()

In [ ]:
collect2 = {'Anopheles gambiar': 13, 'Anopheles deaneorum': 14}

In [ ]:
collect.update(collect2)

In [ ]:
collect

In [ ]:
collect.items()

In [ ]:
for i, ii in collect.items():
    print(f'Species {i}, number of species collected {ii}')

## Set

In [ ]:
biomolecules = ('protein', 'nucleic acid', 'carbohydrate', 'lipid', 'nucleic acid', 'carbohydrate', 'carbohydrate','carbohydrate' )

In [ ]:
set(biomolecules)

In [ ]:
c1 = {1,2,3,4,5}
c2 = {3,4,5,6,7,}
c3 = c1.intersection(c2)

In [ ]:
c3

In [ ]:
c1.difference(c2)

In [ ]:
c2.difference(c1)

# Matrix

In [ ]:
import numpy as np

In [ ]:
matrix = np.array([[2, 3, 1,],
                   [4, 5, 7]])

In [ ]:
matrix

In [ ]:
matrix.shape

In [ ]:
matrix[0]

In [ ]:
matrix[1]

In [ ]:
matrix[0][2]

In [ ]:
matrix[1][2]

In [ ]:
for i in range(matrix.shape[0]):
    print(matrix[i])
    for ii in range(matrix.shape[1]):
        print(matrix[i][ii])

# Fuction
- Trechos de programa que recebe um determinado nome e podem ser chamados várias vezes durante a execução
- Principais vantagens: Reutilização de código, modularidade e facilidade de manutenção do sistema.

## Function with no parameters and no return value

In [ ]:
def mensage():
    print('Function Text')

In [ ]:
mensage()

## Function with parameter(s) or Function with argument(s).

In [ ]:
def message(text):
    print(text)

In [ ]:
message('text 1')
message('text 2')
message('text 3')

In [ ]:
def sum(a, b):
    print(a + b)

In [ ]:
sum(3,3)

## Function with parameter(s) and return value.

In [ ]:
def sum(a, b):
    return a + b

In [ ]:
result = sum(9, 8)
result

In [ ]:
def calculate_gravitational_potential_energy(m, h, g = 10):
    '''
    Calculate the gravitational potential energy

    Arguments:
    m: mass, input as a float variable
    h: height, input as a float variable

    Optional argument:
    g: gravitational acceleration, with a default value of 10
    '''
    energy = g * m * h
    return energy

In [ ]:
calculate_gravitational_potential_energy(30, 12)

In [ ]:
calculate_gravitational_potential_energy(30, 12, 9.8)

In [ ]:
help(calculate_gravitational_potential_energy)

# Useful modules

## Library math

In [ ]:
import math

In [ ]:
math.sqrt(9)

In [ ]:
math.sin(45)

In [ ]:
math.cos(45)

In [ ]:
math.log(1000, 10)

In [ ]:
math.log(1000)

In [ ]:
math.e

In [ ]:
math.pi

## Library datetime

In [ ]:
import datetime

In [ ]:
dir(datetime)

In [ ]:
datetime.date.today()

In [ ]:
datetime.datetime.now()

In [ ]:
data = datetime.date(2023, 9, 19)

In [ ]:
data.day

In [ ]:
data.month

In [ ]:
data.year

In [ ]:
time = datetime.datetime(2023, 9, 19, 9, 57)

In [ ]:
time.hour

In [ ]:
time.minute

In [ ]:
time.second

## Library random

In [ ]:
import random

In [ ]:
random.random()

In [ ]:
random.randint(1,5)

In [ ]:
random.randrange(0, 10, 2)

In [ ]:
random.randrange(0, 10, 3)

In [ ]:
x = ['K', 'd', 13, '34-j', 'x']

In [ ]:
random.choice(x)

## Library time

In [ ]:
import time as t

In [ ]:
t.time()

In [ ]:
before = t.time()
list = []
for i in range(10000):
    list.append(i)
after = t.time()

In [ ]:
interval = after - before
print(f'Time: {interval} seconds')

In [ ]:
print('HIIIIIIIII')
t.sleep(2)
print('...')
t.sleep(2)
print('bey')

# Custom modules

In [ ]:
import utilities as ut

In [ ]:
ut.summ(1, 2, 3)

In [ ]:
ut.mult(3, 2, 2)

In [ ]:
ut.palindrome('abc')

In [ ]:
ut.palindrome('abccba')

In [ ]:
test = 'aabb'
test[::-1]

In [ ]:
ut.div(9,3)

# Error and Exception Handling

- NameError: Variable isn't defined
- TypeError: Incompatible data types
- RuntimeError: Execution error
- SyntaxError: The typed syntax is invalid and not recognized by the interpreter
- ZeroDivisionError: Division by zero
- IndexError: Index is out of range

## Error Type

In [ ]:
 9 = 8
 9 == 8 # rigth

In [ ]:
print("My name is", name)

In [ ]:
2.3 / 'string'

In [ ]:
list = [1, 2 ,3 ,4 ,5]
list[5]

## Error Handling

In [ ]:
try:
    user = int(input('Enter integer number:'))
except:
    print('Invalid Value')
else:
    print(f'Digit value is {user}')

In [ ]:
while True:
    try:
        user = int(input('Enter integer number:'))
    except:
        print('Invalid value')
    else:
        print(f'Digit value is {user}')
        break

In [ ]:
while True:
    try:
        user = int(input('Enter a integer number'))
    except ValueError:
        print('Invalid value')
    except KeyboardInterrupt:
        print('The user interrupted the execution')
    else:
        print(f'The values digit is {user}')
        break

# File Hadling

In [ ]:
with open('C:\\Users\\lucas\\Downloads\\Opaaaa.txt') as file_txt:
    for i in file_txt:
        print(i)

In [ ]:
with open('C:\\Users\\lucas\\Downloads\\Opaaaa.txt') as file_txt:
    r = file_txt.readlines() 
r

In [ ]:
with open('text2.txt', 'w') as txt:
    txt.write('Salveeeee')

In [ ]:
with open('text2.txt','r') as file_txt:
    for i in file_txt:
        print(i)

# Regular Expression

 Meta Characters
- . Any character except a newline
- \w Any character Alphanumeric
- \W Any character Not-Alphanumeric
- \d Any character that is a Digit from 0 to 9
- \D Any character is Not Digit
- \s Blank Space
- ^ Start with
- $ End with 
- \ Used before Meta Characters to specify their literal meaning 

Quantifiers
- [ ] Optional between those inside the brackets
- ( ) Capture the group of Characters
- '*' Zero or more times
- ? Zero or one time
- '+' One or more times
- {m, n} - From m to n times
- | or

## Funtion Search

In [ ]:
import re

In [ ]:
setence = 'Hi, my phone number is (54)99916-0904'
setence2 = 'This is the code to reset your password FTR-1456'
email = 'Please dont call my this is my email lucasdallagnolr@gmail.com'

In [ ]:
re_phone = r'\(\d{2}\)\d{4,5}-*\d{4}'
re_code = r'[A-Za-z]{3}-\d{4}'
re_email = r'\w+\.*\w*@\w+\.\w*\w*'

In [ ]:
re.search(re_phone, setence)

In [ ]:
re.search(re_code, setence2)

In [ ]:
re.search(re_email, email)

## Function match

In [ ]:
setence1 = ('xlt-1598 is your code')

In [ ]:
a = re.match(re_code, setence)
print(a)

In [ ]:
b = re.match(re_code, setence1)
print(b)

## Function FindAll

In [ ]:
setence3 = 'This is my new phone number (54)99916-9040, please delete my old number (54)99160904'

In [ ]:
c = re.findall(re_phone, setence3)
print(c)

In [ ]:
setence4 = 'I have this email: lucasdallagnolr@gmail.com and I have another 2 emails lucas.rossi@videosoft.com and the last is lucasdls@gmail.com '

In [ ]:
d = re.findall(re_email, setence4)
print(d)