In [54]:
#pip install apyori

# Importando Bibliotecas

In [55]:
import pandas as pd
from apyori import apriori

# Algoritimo Apriori

## Base Mercado 1

In [56]:
dt_mercado = pd.read_csv('mercado.csv', header=None)
dt_mercado

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [57]:
transacoes = []
for i in range(len(dt_mercado)):
    transacoes.append([str(dt_mercado.values[i, j]) for j in range(dt_mercado.shape[1])])

In [58]:
type(transacoes)

list

In [59]:
regras = apriori(transacoes, min_support = 0.3, min_confidence = 0.8, min_lift = 2)
resultado = list(regras)

In [60]:
len(resultado)

3

In [61]:
resultado[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [62]:
resultado[2][1]

0.3

In [63]:
r = resultado[2][2]

In [64]:
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [65]:
r[2][0], r[2][1], r[2][2], r[2][3]

(frozenset({'cafe', 'pao'}), frozenset({'manteiga'}), 1.0, 2.0)

In [114]:
a_se = []
b_entao = []
suporte = []
confianca = []
lift = []

for i in resultado:
    #print(i)
    s = i[1]
    #print(s)
    result_rules = i[2]
    #print(result_rules)
    for ii in result_rules:
        #print(ii)
        a = list(ii[0])
        b = list(ii[1])
        c = ii[2]
        l = ii[3]
        #print(a, '-', b, '-', c, '-', l)
        a_se.append(a)
        b_entao.append(b)
        suporte.append(s)
        confianca.append(c)
        lift.append(l)

In [119]:
df_rules = pd.DataFrame({'a_se': a_se, 'b_entao' : b_entao,
                         'suporte' : suporte, 'confianca' : confianca,
                         'lift': lift})

In [122]:
df_rules.sort_values(by= 'lift', ascending=False)

               a_se          b_entao  suporte  confianca  lift
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0

# Base Mercado 2